.project {
  &__introduction {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    color: var(--text-primary-color);
  }

  &__section {
    &__container {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    &__container {
      width: 30vw;
    }
    &__header {
      font-family: "Lexend Deca", sans-serif;
      font-size: 3.25rem;
      text-align: center;
      margin-bottom: 8rem;
    }

    &__subtitle {
      font-family: Lato, sans-serif;
      color: var(--text-subtitle-color);
      font-size: 1.5rem;
      text-align: left;
      width: 550px;
    }

    &__subheader {
      font-size: 2.625rem;
      padding-top: 9rem;
    }

    &__screenshot {
      width: 650px;
      margin-left: 5rem;
    }

    &__hero {
      width: 800px;
      height: 390px;
      margin-bottom: 3rem;
    }
  }

  &__stack {
    &__container {
      width: 500px;
      display: flex;
    }

    &__items {
      list-style-type: none;
      line-height: 1.5;
      width: 300px;
      font-size: 1.3rem;
      padding-left: 0;
    }

    &__link {
      text-decoration: none;
      color: var(--text-primary-highlight);
      transition: 0.3s all;
      &:hover {
        color: var(--text-secondary-highlight);
      }
    }

    &__subtitle {
      width: 300px;
      font-size: 1.5rem;
      margin-top: 1rem;
      padding-left: 0.3rem;
    }
  }
  &__hero {
    &__container {
      display: flex;
      flex-direction: column;
    }
  }
}
