.projects {
  &__feed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__header {
    font-size: 4rem;
    font-family: "Lexend Deca", sans-serif;
    color: var(--text-primary-color);
    margin: 0 auto;
  }
}
