@media (max-width: 320px) {
  body {
    // ----------------------------------------------------- HomePage view ----------------------------------------------------- //

    //Navbar Section
    .navbar {
      &__container {
        height: 100px;
      }
    }

    .menu {
      &__logo {
        right: 2rem;
      }
    }

    // Landing Page Section
    .primary {
      &__text {
        font-family: "Lexend Deca", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        padding-left: 0;
        margin-top: 2rem;
      }
    }

    .first {
      &__name {
        color: var(--text-primary-color);
        text-align: center;
        padding-right: 0;
      }
    }

    .last {
      &__name {
        bottom: 1rem;
      }
    }

    .techStack {
      &__text {
        font-size: 2.3rem;
      }
    }

    // About Section
    .section {
      &__about {
        margin: 0;
      }
    }
    .about {
      &__summary {
        font-size: 1.3rem;

        margin: 12rem auto;
      }
    }

    // Projects Section
    .section {
      &__projects {
        height: 100%;
      }

      &__header {
        font-size: 3.3rem;
        color: var(--text-primary-color);
        font-family: "Lexend Deca", sans-serif;
        font-weight: 300;
        margin: 7rem auto;
      }
    }

    .project {
      &__card {
        width: 80vw;
      }

      &__image {
        width: 80vw;
      }

      &__title {
        font-size: 1.4rem;
      }
    }

    .github {
      &__icon {
        right: 0;
        top: 0;
      }
    }

    .placeholder {
      &__project {
        display: flex;
        flex-direction: column;
        align-self: center;

        .project {
          &__description {
            text-align: center;
          }
        }
      }
    }

    // Contact Section
    .section {
      &__contact {
        height: 100%;
      }
    }

    .contact {
      &__subtitle {
        color: var(--text-subtitle-color);
        font-size: 1.3rem;
        width: 350px;
        font-family: "Lexend Deca", sans-serif;
        margin-bottom: 2rem;
      }

      &__email {
        color: var(--text-contact-color);
        font-size: 1.75rem;

        text-decoration: none;
      }
    }

    // ----------------------------------------------------- ProjectDetails view ----------------------------------------------------- //
    // Project Title Section

    .project {
      &__section {
        &__container {
          width: 80vw;
        }
      }

      &__tile {
        width: 35vw;
        padding: 1rem;
      }

      &__title {
        &__header {
          font-size: 3.25rem;
          padding: 0;
          padding-top: 2rem;
          margin-bottom: 4rem;
        }

        &__subtitle {
          font-size: 1.3rem;
          width: 85vw;
          margin: 0 auto;
        }
        &__subheader {
          width: 45vw;
          font-size: 2.25rem;
        }
      }

      &__stack {
        &__container {
          width: 99vw;
          align-items: center;
          display: flex;
          padding-bottom: 9rem;
        }

        &__subtitle {
          font-size: 1.3rem;
        }
      }
    }

    // Justification Section
    .justification {
      &__container {
        height: unset;
        padding-top: 0;
      }

      &__subtitle {
        font-size: 1.3rem;
      }

      &__header {
        font-size: 2.3rem;
      }
    }

    // Stack Section

    .stack {
      &__container {
        padding-top: 5rem;
      }
      &__subtitle {
        &--1,
        &--2 {
          font-size: 1.3rem;
        }
      }
    }

    // Lessons Section
    .lessons {
      &__container {
        margin: 5rem 0;
      }
    }

    // Projects Section

    // Contact Section
    .contact {
      &__subtitle {
        width: 100vw;
      }
    }
  }
}
