body {
  // Macro-site styling.
  --page-background-color: hsl(0, 0%, 9%);

  // Text Colours
  --text-header-text: hsl(0, 0%, 47%);
  --text-header-text-highlight: hsl(0, 0%, 77%);
  --text-primary-color: hsl(204, 45%, 98%);
  --text-primary-highlight: hsl(212, 73%, 46%);
  --text-secondary-highlight: hsl(277, 100%, 61%);
  --text-subtitle-color: hsl(0, 0%, 59%);
  --text-contact-color: hsl(158, 77%, 44%);
}
